example.json
[{"id":"8d3b6f7b.b2c23","type":"inject","z":"803fcd04.cec36","name":"Inject random number","topic":"temp_sensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["12c92f50.453071"]]},{"id":"28e161e4.4cdc3e","type":"mqtt out","z":"803fcd04.cec36","name":"","topic":"","qos":"","retain":"","broker":"34384da1.f22fb2","x":770,"y":200,"wires":[]},{"id":"5e4c0e65.ff2b8","type":"mqtt in","z":"803fcd04.cec36","name":"","topic":"temp_sensor","qos":"2","datatype":"auto","broker":"34384da1.f22fb2","x":150,"y":380,"wires":[["421d4100.360b4"]]},{"id":"b2a5dfb3.bce18","type":"debug","z":"803fcd04.cec36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"12c92f50.453071","type":"random","z":"803fcd04.cec36","name":"","low":"1","high":"10","inte":"true","property":"payload","x":380,"y":200,"wires":[["b43e2d15.cc334","3acfedd3.0fcf72"]]},{"id":"eac2c8e.c15de38","type":"debug","z":"803fcd04.cec36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":60,"wires":[]},{"id":"b43e2d15.cc334","type":"function","z":"803fcd04.cec36","name":"","func":"msg.payload = { temp: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["eac2c8e.c15de38","28e161e4.4cdc3e","37a3c825.b79478"]]},{"id":"3acfedd3.0fcf72","type":"debug","z":"803fcd04.cec36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":240,"wires":[]},{"id":"10c56356.c6383d","type":"ui_slider","z":"803fcd04.cec36","name":"","label":"Temperature","tooltip":"","group":"380baa80.2b16e6","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"temp_sensor","min":"10","max":"30","step":1,"x":350,"y":100,"wires":[["b43e2d15.cc334"]]},{"id":"a4598e5.21d4a7","type":"change","z":"803fcd04.cec36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["b2a5dfb3.bce18","e7f8ab5b.5cd1a8"]]},{"id":"e7f8ab5b.5cd1a8","type":"ui_gauge","z":"803fcd04.cec36","name":"","group":"380baa80.2b16e6","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":380,"wires":[]},{"id":"98174208.7564b","type":"debug","z":"803fcd04.cec36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":440,"wires":[]},{"id":"421d4100.360b4","type":"json","z":"803fcd04.cec36","name":"","property":"payload","action":"","pretty":false,"x":310,"y":380,"wires":[["a4598e5.21d4a7","98174208.7564b"]]},{"id":"32a13136.5e079e","type":"ui_switch","z":"803fcd04.cec36","name":"","label":"","tooltip":"","group":"4e4cb4ef.f7dffc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":620,"wires":[["f1066e19.46afa"]]},{"id":"8ddec461.f0c658","type":"debug","z":"803fcd04.cec36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":520,"wires":[]},{"id":"6c29bd33.7e9064","type":"ui_text","z":"803fcd04.cec36","group":"380baa80.2b16e6","order":1,"width":0,"height":0,"name":"","label":"Home/Away","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":580,"wires":[]},{"id":"f1066e19.46afa","type":"switch","z":"803fcd04.cec36","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":620,"wires":[["bc228ae5.9adae8"],["43170179.9566d"]]},{"id":"bc228ae5.9adae8","type":"change","z":"803fcd04.cec36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"},{"t":"set","p":"homestatus","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["6c29bd33.7e9064","8ddec461.f0c658","3eee420b.d13b0e","4514fcfc.479e84"]]},{"id":"43170179.9566d","type":"change","z":"803fcd04.cec36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Away","tot":"str"},{"t":"set","p":"homestatus","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":660,"wires":[["6c29bd33.7e9064","81fc4f46.4e355"]]},{"id":"3eee420b.d13b0e","type":"mqtt out","z":"803fcd04.cec36","name":"","topic":"temp_sensor","qos":"","retain":"","broker":"34384da1.f22fb2","x":830,"y":760,"wires":[]},{"id":"81fc4f46.4e355","type":"function","z":"803fcd04.cec36","name":"","func":"msg.payload = { temp: 15 };\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["3eee420b.d13b0e"]]},{"id":"4514fcfc.479e84","type":"function","z":"803fcd04.cec36","name":"","func":"msg.payload = { temp: 22 };\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":680,"wires":[["40f39ec.582506"]]},{"id":"40f39ec.582506","type":"mqtt out","z":"803fcd04.cec36","name":"","topic":"temp_sensor","qos":"","retain":"","broker":"34384da1.f22fb2","x":830,"y":680,"wires":[]},{"id":"37a3c825.b79478","type":"mqtt out","z":"803fcd04.cec36","name":"","topic":"tempsensor","qos":"0","retain":"false","broker":"78f6e89a.576b78","x":790,"y":120,"wires":[]},{"id":"34384da1.f22fb2","type":"mqtt-broker","z":"","name":"RabitMQ","broker":"caterpillar.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"380baa80.2b16e6","type":"ui_group","z":"","name":"Smart Home","tab":"5239ccf9.025924","disp":true,"width":"6","collapse":false},{"id":"4e4cb4ef.f7dffc","type":"ui_group","z":"","name":"Home Status Setting","tab":"5239ccf9.025924","order":2,"disp":true,"width":"6","collapse":false},{"id":"78f6e89a.576b78","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5239ccf9.025924","type":"ui_tab","z":"","name":"Home Assistant","icon":"dashboard","disabled":false,"hidden":false}]