example.json
[{"id":"a14fa814.88a288","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf961f86.22296","type":"inject","z":"a14fa814.88a288","name":"Inject random number","topic":"temp_sensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":340,"wires":[["2cddfd0d.9532d2"]]},{"id":"a66cee05.c94fc","type":"mqtt out","z":"a14fa814.88a288","name":"","topic":"","qos":"","retain":"","broker":"e1ec49c7.7a6678","x":810,"y":300,"wires":[]},{"id":"62ad0c17.4ce574","type":"mqtt in","z":"a14fa814.88a288","name":"","topic":"temp_sensor","qos":"2","datatype":"auto","broker":"e1ec49c7.7a6678","x":210,"y":520,"wires":[["a3c663ea.1022"]]},{"id":"c811ac19.d8473","type":"debug","z":"a14fa814.88a288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":460,"wires":[]},{"id":"2cddfd0d.9532d2","type":"random","z":"a14fa814.88a288","name":"","low":"1","high":"10","inte":"true","property":"payload","x":440,"y":340,"wires":[["14430b6e.cec085","385eef45.acc0e"]]},{"id":"8e6f26d5.b79c28","type":"debug","z":"a14fa814.88a288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":200,"wires":[]},{"id":"14430b6e.cec085","type":"function","z":"a14fa814.88a288","name":"","func":"msg.payload = { temp: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["8e6f26d5.b79c28","a66cee05.c94fc"]]},{"id":"385eef45.acc0e","type":"debug","z":"a14fa814.88a288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":380,"wires":[]},{"id":"e15d2b9a.a05638","type":"ui_slider","z":"a14fa814.88a288","name":"","label":"Temperature","tooltip":"","group":"1ecce004.eed28","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"temp_sensor","min":"10","max":"30","step":1,"x":410,"y":240,"wires":[["14430b6e.cec085"]]},{"id":"81a602b1.c9afa","type":"change","z":"a14fa814.88a288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["c811ac19.d8473","87e137ce.ac7c38"]]},{"id":"87e137ce.ac7c38","type":"ui_gauge","z":"a14fa814.88a288","name":"","group":"1ecce004.eed28","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":520,"wires":[]},{"id":"d0fe8bad.a27d18","type":"debug","z":"a14fa814.88a288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":580,"wires":[]},{"id":"a3c663ea.1022","type":"json","z":"a14fa814.88a288","name":"","property":"payload","action":"","pretty":false,"x":370,"y":520,"wires":[["81a602b1.c9afa","d0fe8bad.a27d18"]]},{"id":"4e06a87b.2eec68","type":"ui_switch","z":"a14fa814.88a288","name":"","label":"","tooltip":"","group":"ce7f07dc.416ef8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":760,"wires":[["afd158ad.b393d8"]]},{"id":"5fdbdd1.7403a24","type":"debug","z":"a14fa814.88a288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":660,"wires":[]},{"id":"fc9d2b6e.cf9948","type":"ui_text","z":"a14fa814.88a288","group":"1ecce004.eed28","order":1,"width":0,"height":0,"name":"","label":"Home/Away","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":720,"wires":[]},{"id":"afd158ad.b393d8","type":"switch","z":"a14fa814.88a288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":760,"wires":[["e2304b63.15f208"],["51b61e39.5ca05"]]},{"id":"e2304b63.15f208","type":"change","z":"a14fa814.88a288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"},{"t":"set","p":"homestatus","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":720,"wires":[["fc9d2b6e.cf9948","5fdbdd1.7403a24","b8f25617.2fc2d8","ca56de6a.bd5a9"]]},{"id":"51b61e39.5ca05","type":"change","z":"a14fa814.88a288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Away","tot":"str"},{"t":"set","p":"homestatus","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":800,"wires":[["fc9d2b6e.cf9948","47e72f5d.fe40c"]]},{"id":"b8f25617.2fc2d8","type":"mqtt out","z":"a14fa814.88a288","name":"","topic":"temp_sensor","qos":"","retain":"","broker":"e1ec49c7.7a6678","x":890,"y":900,"wires":[]},{"id":"47e72f5d.fe40c","type":"function","z":"a14fa814.88a288","name":"","func":"msg.payload = { temp: 15 };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":900,"wires":[["b8f25617.2fc2d8"]]},{"id":"ca56de6a.bd5a9","type":"function","z":"a14fa814.88a288","name":"","func":"msg.payload = { temp: 22 };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":820,"wires":[["969f1036.c6b0c"]]},{"id":"969f1036.c6b0c","type":"mqtt out","z":"a14fa814.88a288","name":"","topic":"temp_sensor","qos":"","retain":"","broker":"e1ec49c7.7a6678","x":890,"y":820,"wires":[]},{"id":"e1ec49c7.7a6678","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1ecce004.eed28","type":"ui_group","z":"","name":"Smart Home","tab":"6b4d7d86.b7dc84","disp":true,"width":"6","collapse":false},{"id":"ce7f07dc.416ef8","type":"ui_group","z":"","name":"Home Status Setting","tab":"6b4d7d86.b7dc84","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b4d7d86.b7dc84","type":"ui_tab","z":"","name":"Home Assistant","icon":"dashboard","disabled":false,"hidden":false}]